.Image-Carousel {
  position: absolute;
  top: 0;
  display: flex;
  /* display: none; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.left-swipe,
.right-swipe {
  color: white;
  font-size: 1.5rem;
  display: none;
  pointer-events: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgba(255, 255, 255, 0.556);
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.left-swipe {
  margin-left: 20px;
}
.right-swipe {
  margin-right: 20px;
}
