.img-container--animation {
  position: relative;
}

.img-container--animation > img {
  display: block;
  border-radius: 2px;
  height: auto;
  width: 100%;
}

.pop-container {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  height: 100%;
  width: 100%;
}
.pop-container--animation {
  animation: 1.2s heart-bg-popoutin ease;
}
.pop-container--animation1 {
  animation: 1.15s heart-bg-popoutin1 ease;
}
@keyframes heart-bg-popoutin {
  0% {
    background-color: rgba(0, 0, 0, 0.664);
    opacity: 0;
  }

  50% {
    background-color: rgba(0, 0, 0, 0.664);
    opacity: 1;
  }

  100% {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.664);
  }
}
@keyframes heart-bg-popoutin1 {
  0% {
    background-color: rgba(0, 0, 0, 0.664);
    opacity: 0;
  }

  50% {
    background-color: rgba(0, 0, 0, 0.664);
    opacity: 1;
  }

  100% {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.664);
  }
}
.pop-outin {
  font-size: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  height: 100%;
  width: 100%;
}
.pop-outin--animation {
  animation: 1.2s heart-popoutin ease;
}
.pop-outin--animation1 {
  animation: 1.2s heart-popoutin1 ease;
}

@keyframes heart-popoutin {
  0% {
    color: grey;
    font-size: 2px;
    opacity: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  25% {
    color: grey;
    font-size: 200px;
    opacity: 1;
    text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
  }
  50% {
    color: grey;
    font-size: 100px;
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    font-size: 100px;
    opacity: 0;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes heart-popoutin1 {
  0% {
    color: grey;
    font-size: 2px;
    opacity: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  25% {
    color: grey;
    font-size: 200px;
    opacity: 1;
    text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
  }
  50% {
    color: grey;
    font-size: 100px;
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    font-size: 100px;
    opacity: 0;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
}
@media only screen and (max-width: 600px) {
  .pop-container {
    max-width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99.1%;
    width: 100%;
  }
}
