.card {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-bottom: 6px;
  border-radius: 10px;
  max-width: 470px;
  width: 470px;
  max-height: 764px;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.card-top {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.card-top__username {
  display: flex;
  justify-content: space-evenly;
  width: 80px;
  align-items: center;
}
.card-top-three-dot {
  margin-right: 15px;
}
.card-mid img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .add-com {
    display: none;
  }
}
