@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam&display=swap");

body {
  width: 100vw;
  margin: 0;
  overflow: hidden;
  min-height: 100vh;
}
.instagram-website {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.spacer {
  flex-grow: 1;
}
.spacer-half {
  flex-grow: 0.5;
}

.pt-10 {
  padding-top: 7px;
}

.p-10 {
  padding: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.p-10 {
  padding: 10px;
}

.p-5 {
  padding: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.spacer {
  flex-grow: 1;
}

.spacer-2 {
  flex-grow: 2;
}

.prl-16 {
  padding-left: 16px;
  padding-right: 16px;
}
