header {
  display: flex;
  align-items: center;
  justify-content: stretch;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  height: 60px;
  border-bottom: 1px solid rgba(219, 219, 219, 1);
  background-color: #ffffff;
  width: 100vw;
}

.instaheader__container {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  width: 100vw;
}

header nav.footer {
  position: relative;
  display: flex;
  width: 10vw;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: none;
  padding-left: 130px;
}

header nav.footer img {
  padding: 0px 10px 0px 10px;
}

header nav.footer .explorer-icon {
  display: initial;
}

.searchbar input[type="text"] {
  background-color: #efefef;
  padding: 6px;
  font-size: 17px;
  border: none;
  outline: none;
  border-radius: 20px;
}

.searchbar {
  max-width: 261px;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #efefef;
  font-family: RobotoThin;
  border-radius: 5px;
  color: #cbcbcb;
}
.searchbar i {
  padding: 10px;
}
.send-icon {
  display: none;
}
.instaheader--spacer {
  flex-grow: 1;
}

.camera-pic {
  display: none;
}
.instaheader--instagram-pic {
  padding-top: 3px;
  height: 5.5vh;
  width: 15.3vh;
  padding-left: 32px;
}
.icon {
  width: 24px;
  height: 24px;
}

.instaheader--middle-spacer {
  flex-grow: 1;
}

@media only screen and (max-width: 850px) {
  header nav.footer {
    padding-right: 30px;
  }
  .instaheader--spacer {
    display: none;
  }
  .searchbar {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .instaheader--spacer {
    display: none;
  }
  .instaheader__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav.footer {
    display: none;
  }
  .send-icon {
    display: block;
  }
  .desktop--spacer {
    display: none;
  }
  .camera-pic {
    display: block;
  }
  .instaheader--instagram-pic {
    height: 5.5vh;
    width: 16vh;
    padding-left: 0px;
  }
  .instaheader__container .spacer-half {
    display: none;
  }
}
