.card--button {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 24px;
  width: 24px;
  font-size: 24px;
  margin-right: 5px;
  margin-left: 15px;
}
.red-heart1 {
  animation: 0.5s like-popoutin1 ease;
}
.red-heart {
  animation: 0.5s like-popoutin ease;
}
.cut {
  pointer-events: none;
  box-sizing: content-box;
  margin-right: 5px;
  color: red;
  text-align: center;
  opacity: 1;
}
.dislike {
  color: black;
  animation: 0.5s dislike-popoutin ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 1;
}

@keyframes like-popoutin {
  0% {
    color: red;
    transform: scale(1);
    opacity: 0;
  }
  50% {
    color: red;
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    color: red;
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes like-popoutin1 {
  0% {
    color: red;
    transform: scale(1);
    opacity: 0;
  }
  50% {
    color: red;
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    color: red;
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes dislike-popoutin {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
