<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="./heartAnimation.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="img-container--animation">
      <img src="../../../public/assets/images.jpg" />
      <div class="pop-container">
        <div class="pop-outin"><i class="lni lni-heart-filled"></i></div>
      </div>
    </div>
    <script src="./jsonplaceholderfile.js"></script>
  </body>
</html>
