nav.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  box-shadow: 0 -1px 0px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.icon {
  width: 24px;
  height: 24px;
}

.explorer-icon {
  display: none;
}

@media only screen and (min-width: 600px) {
  nav.footer {
    display: none;
  }
}
