header {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 55px;
  border-bottom: 1px solid rgba(219, 219, 219, 1);
  background-color: #ffffff;
  width: 100%;
}

.instaheader__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

header nav.footer {
  box-shadow: none;
  position: relative;
  display: flex;
  max-width: 350px;
  align-items: center;
  justify-content: space-evenly;
}

header nav.footer .explorer-icon {
  display: initial;
}

.searchbar input[type="text"] {
  background-color: #efefef;
  padding: 6px;
  font-size: 17px;
  border: none;
  outline: none;
}

.searchbar {
  max-width: 261px;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #efefef;
  border-radius: 5px;
  color: #cbcbcb;
}
.searchbar i {
  padding: 10px;
}
.send-icon {
  display: none;
}

.camera-pic {
  display: none;
}

.instaheader--instagram-pic {
  height: 40px;
  width: auto;
  margin-left: 15px;
}

@media only screen and (max-width: 1024px) {
  .searchbar {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .instaheader__container {
    justify-content: space-between;
    align-items: center;
  }
  header nav.footer {
    display: none;
  }
  .send-icon {
    display: block;
    margin-right: 10px;
  }
  .camera-pic {
    display: block;
    margin-left: 10px;
  }
}
